*{
    box-sizing: border-box;
  }
  html{
      scroll-behavior: smooth;
  }

body {
    margin: 0px;
    padding: 0;
    background-color: #e3e4e3;
    font-family: 'Questrial';
}
.home{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 100px 30px;
}


.button-checkout {
    background-color: white;
    color: black;
    border: 6px solid #0000; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #0e8893; /* Red */
    color: white;
}
.button-add {
    background-color: white;
    color: black;
    padding: 7px 12px;
    border: 2px solid #0e8893; /* Azul caaca */
    transition-duration: 0.4s;
    position: absolute;
    border-radius: 5px;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color:#0e8893; /* Azul caca */
    color: white;
}

.login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}



footer{
    background: url(/static/img/bg.jpg);
    /* position: relative; */
    width: 100%;
}
footer img{
    margin-top: 20px;
}

.container{
    display:flex;
    justify-content:space-between;
    position: relative;
}

.logo{
    width: 300px;
    height: 100px;
    justify-content: left;
}

.redes{
    display: inline-block;
    vertical-align: top;
    /* margin: 0 0 0 15px; */
    margin-top: 20px;  
    /* position: absolute; */
    /* justify-content:center; */
    /* justify-content: right; */
}
.redes li{
    color:#FFFFFF;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    list-style: none;   
    /* position: relative; */   
    
}

.redes a{
    color: #FFFFFF;
    text-decoration: none;
}

.redes a:hover{
    color: rgb(4, 58, 40);
}

.iconos{
    width: 1em;
    height: 1em;    
}


.copyright{
    color:#FFFFFF;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;  
}

@media screen and (max-width:720px){
	.container{
        	flex-direction: column;
    	}

}
.logo_nav{
	height: 90px;
	padding: 10px 30px ;
	justify-content: center;
	align-items: center;
}
.container{
    max-width:  1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    height: 200px;
    box-shadow: 0px 1px 10px 0px #0531358e;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
	list-style: none;
}
.search {
	position: relative;
	padding: 10px;
	top: 0px;
}
.search input {
	display: flex;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 0px;
	padding: 0px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid #1f8fa0ae;
	transition: all .7s ease;
}
::placeholder {
	color: grey;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	background: #1f8fa0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 40px;
	transition: all .7s ease;
}
.container:hover input {
	width: 350px;
}
.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #1f8fa0;
}


/* - - - - NAV - - - - */
nav{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-right: 20px;
}

.nav1 li a{
	color: black;
    text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav1 > li{
	float: left;
}

nav li a:hover {
	color: #109BA8;
}

.nav1 li ul{
	display: none;
}
.nav1 li:hover > ul{
	display: block;
}

#nav2{
	position: absolute;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	box-shadow: 2px 4px 0px 0px #109BA8;
	text-align: left;
	padding-left: 0%;
    padding-right: 5px;
}

 /* - - - - - ESCRITORIO - - - -- */
@media (min-width: 720px){

    header{
        margin: auto;
        width: 100%;
        height: 100px;
        background-color: rgb(245, 245, 245);
    }
    header .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
	header .logo_nav{
        justify-content: center;
	   align-items: center;
    }
	#nav2{
	padding-left: 0%;
    padding-right: 5px;
	}

}
.filtro-contenedor{
    background-color: #FFFFFF;
    vertical-align: top;
    flex-direction: row;
    margin-top: 0%;
    font-size: 15px;
    border: 2px;
    border-color: #000;
    border-radius: 5px;
    
}

#imagenes img {
    max-width: 200px;
}

/*
#laptop:checked ~ #imagenes .tablet, #laptop:checked ~ #imagenes .movil {
      display: none;
}
  
#tablet:checked ~ #imagenes .laptop, #tablet:checked ~ #imagenes .movil {
      display: none;
}
  
#movil:checked ~ #imagenes .tablet, #movil:checked ~ #imagenes .laptop {
      display: none;
}
*/
#todo:not(:checked) ~ #imagenes .movil, #todo:not(:checked) ~ #imagenes .tablet {
    display: none;
}

#laptop:not(:checked) ~ #imagenes .autos {
    display: none;
}

#tablet:not(:checked) ~ #imagenes .camionetas{
    display: none;
}

#movil:not(:checked) ~ #imagenes .motos {
    display: none;
}